@font-face {
	src: url('fonts/OfficinaSansITC-Book.woff') format('woff');
	font-family: 'OfficinaSansITC';
	font-weight: 100;
}

@font-face {
	src: url('fonts/OfficinaSansITC-Medium.woff') format('woff');
	font-family: 'OfficinaSansITC';
	font-weight: 500;
}

@font-face {
	src: url('fonts/OfficinaSansITC-Bold.woff') format('woff');
	font-family: 'OfficinaSansITC';
	font-weight: 600;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue-Bold.woff') format('woff');
	font-weight: 600;
}

body {
	margin: 0em;
	padding: 0em .5em;
	background-color: white;
	font-family: 'OfficinaSansITC';
	font-weight: 500;
	color: black;
	-webkit-text-size-adjust: none;
}

body[data-kiosk="true"] {
	font-size: 32px;
	overflow: hidden;
}

.content {
	@cell-spacing: .5em;
	
	// Remove the table border on the outside.
	margin: -@cell-spacing;
	
	> div {
		margin: 0em;
		display: table;
		width: 100%;
		table-layout: fixed;
		border-spacing: @cell-spacing;
		
		> div {
			display: table-cell;
			width: 50%;
		}
	}
}

h3 {
	font-size: 1.2em;
	margin-top: .75em;
	margin-bottom: .4em;
	margin-left: .05em;
	font-weight: 600;
}

table {
	border-collapse: collapse;
	text-align: left;
	table-layout: fixed;
	width: 100%;
	
	thead {
		background-color: #0e3a7e;
		color: white;
	}
	
	tbody {
		tr:nth-child(2n) {
			background-color: #cbdbfe;
		}
		
		tr:last-child {
			border-bottom-style: solid;
		}
	}
	
	col.linie {
		width: 3.1em;
		border-left-style: solid;
	}
	
	col.richtung {
		width: 7.8em;
	}
	
	col.abfahrten {
		border-left-style: solid;
		border-right-style: solid;
	}
	
	td, th {
		padding: .2em .3em;
		overflow: hidden;
		white-space: nowrap;
	}
	
	td:nth-child(1) {
		text-align: right;
		padding-right: .2em;
	}
	
	col, tr {
		border-color: #0e3a7e;
		border-width: .15em;
	}
	
	// The span drawing the background of the line number.
	span.linie {
		display: inline-block;
		min-width: 1.5em;
		height: 1.5em;
		text-align: center;
		
		// Another span wrapping the line number so we can position it accurately.
		& > span {
			font-family: 'Helvetica Neue';
			font-weight: 600;
			padding: 0em .2em;
			position: relative;
			top: .12em;
		}
		
		&[linie='4'] {
			color: white;
			background-color: #39328b;
		}
		
		&[linie='6'] {
			color: white;
			background-color: #d39135;
		}
		
		&[linie='11'] {
			color: white;
   		background-color: #149f3d;
		}
		
		&[linie='13'] {
			color: black;
   		background-color: #fecd20;
		}
		
		&[linie='14'] {
			color: white;
   		background-color: #1b8dd9;
		}
		
		&[linie='15'] {
			color: white;
   		background-color: #e6091d;
		}
		
		&[linie='17'] {
			color: white;
   		background-color: #8f125c;
		}
		
		&[linie='32'] {
			color: black;
   		background-color: #cb9bc7;
		}
		
		&[linie='33'] {
			color: black;
   		background-color: #dedb93;
		}
		
		&[linie='34'] {
			color: black;
   		background-color: #64b0e4;
		}
		
		&[linie='46'] {
			color: black;
   		background-color: #b4d997;
		}
		
		&[linie='72'] {
			color: black;
   		background-color: #c89284;
		}
		
		&[linie='69'], &[linie='71'], &[linie='83'] {
			color: black;
			background-color: #64b0e4;
		}
		
		&[linie^='S'] {
			color: white;
			background-color: #002087;
		}
		
		&[linie^='N'], &[linie^='SN'] {
			color: #fff325;
			background-color: black;
		}
		
		&[linie^='E'] {
			color: #c00;
			background-color: #eee;
		}
	}
	
	span.abfahrt:not(:last-child):after {
		content: ', ';
	}
	
	span.verspätung {
		font-weight: 600;
		font-size: .8em;
		color: #c70900;
	}
	
	span.verspätung:before {
		content: ' +';
	}
	
	tr.keine-abfahrten td {
		color: #888;
		padding-left: 2em;
		padding-right: 2em;
		text-align: center;
		white-space: normal;
	}
}

// For coloring according to remaining time.
span.knapp {
	color: #0c6bd8;
}

span.verpasst {
	color: #888;
}

#footer {
	margin-top: .4em;
	
	.right {
		float: right;
	}
	
	p {
		margin-top: 0.4em;
		margin-bottom: 0em;
	}
}
